@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Custom global styles */
body {
  @apply bg-dark text-white font-sans;
}

@keyframes float {
  0%, 100% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
}
.animate-float {
  animation: float 4s ease-in-out infinite;
}

html{
  scroll-behavior: smooth;
}